<% layout('framework/layout') %>
<div class="pages">
 <div class="pages-wrapper">
  <div class="control">
   <div class="dots-loader"><span></span></div>
  </div>

  <div data-name="about" class="page dont-push">
   <div class="page-inner">

    <section class="intro" data-locked-scroll="true">
     <div class="embedded">
      <div>
       <div class="text-box">
        <div>
         <h1>Create your own
          true legacy</h1>

         <p>
          Welcome to <span class="title">We Ride</span>!
          The new sandbox <abbr title="Massive multiplayer online">MMO</abbr> where <b>players' stories integrate and shape the world</b>.
         </p>

         <p class="multi-buttons">
          <span class="btn scroll-btn">Learn more</span>
          <span class="btn page-btn hidden-sm btn-secondary" data-index="1">Play</span>
         </p>
        </div>
       </div>
       <div class="image-slider">
        <img src="/static/img/slide1.jpg" alt=""/>
        <img src="/static/img/slide2.jpg" alt=""/>
        <img src="/static/img/slide3.jpg" alt=""/>
       </div>
      </div>
     </div>
   <!--<div class="embedded">-->
      <!--<div>-->
       <!--<div class="text-box">-->
        <!--<div>-->
         <!--<h1>Create your own-->
          <!--true legacy</h1>-->

         <!--<p>-->
          <!--Welcome to <span class="title">We Ride</span>!-->
          <!--The new sandbox <abbr title="Massive multiplayer online">MMO</abbr> where <b>players' stories integrate and shape the world</b>.-->
         <!--</p>-->

         <!--<p class="multi-buttons">-->
          <!--<span class="btn scroll-btn">Learn more</span>-->
          <!--<span class="btn page-btn hidden-sm btn-secondary" data-index="1">Play</span>-->
         <!--</p>-->
        <!--</div>-->
       <!--</div>-->
       <!--<div class="image-slider">-->
        <!--<img src="/static/img/slide1.jpg" alt=""/>-->
        <!--<img src="/static/img/slide2.jpg" alt=""/>-->
        <!--<img src="/static/img/slide3.jpg" alt=""/>-->
       <!--</div>-->
       <!--<video class="bg" id="hero-bg-video" poster="" preload="none" loop muted="true">-->
        <!--<source type="video/mp4" media="screen and (min-width:1025px)" src="/static/img/loop.mp4">-->
       <!--</video>-->
      <!--</div>-->
     <!--</div>-->
    </section>

    <section class="intro">
     <div class="flex-list s1">
      <div class="para go-last">
       <span class="img" style="background-image: url('/static/img/forest.jpg');"></span>
       <span class="caption">A whole world to explore</span>
      </div>
      <div class="copy-item">
       <div>
        <h2>Let's bring the <i>thrill</i> back</h2>
        <p>Do you look back with nostalgia to when online games were still <i>actually</i> exciting? We believe that todays' MMORPGs don't live up to their true potential because few know how to allow and manage players to have impact in the game world.</p>

        <p>
		In <span class="title">We Ride</span>, we try to find the sweetspot between early games such as <i>Ultima Online</i> and modern MMORPGs by acknowledging players' dynamic behvaiour and willingness to contribute.
		We combine research and years of indie development experience to create the next generation of MMORPGs.
        </p>

        <p>
         We build systems that persist your stories and make them reusable, influential elements in the world.
		 Legendary artifacts evolve over time, gain unique properties as consequence of different players' interactions, and environments shape from their past and adapt to current situations.
        </p>

		<p>
		 We Ride enables you to become a true legend, remembered and influential, and a prominent character in the world.
		</p>

        <p><span class="btn scroll-btn">The basics</span></p>
       </div>
      </div>
     </div>
    </section>

    <section class="intro">
     <div class="flex-list s1">
      <div class="para">
       <span class="img" style="background-image: url('/static/img/paperdoll.jpg');"></span>
       <span class="caption">The paperdoll</span>
      </div>
      <div class="copy-item">
       <div>
        <h3>The basics</h3>

        <p>All players share a large seamless world, with no safe zones, and <abbr title="">PVP</abbr> is allowed everywhere.</p>

        <p>If you die, everything you wear, plus inventory, will be laying on the ground for anyone to loot.
         You'll become a ghost and can resurrect at the nearest life gate. If you make it back in time, you may loot
         yourself.</p>

        <p>What you'll do in <span class="title">We Ride</span> is totally up to you. Train your skills in battle to become
         the greatest warrior, explore the world as a ranger and tame wild animals, or study the power of the magic
         nature of the world.</p>

        <p>
         <span class="btn scroll-btn">Skills and stats</span>
        </p>
       </div>
      </div>
     </div>
    </section>

    <section class="intro">
     <div class="flex-list s1">
      <div class="para go-last">
       <span class="img" style="background-image: url('/static/img/hunter.jpg');"></span>
       <span class="caption">Fighting skeletons in Newbie Dungeon</span>
      </div>
      <div class="copy-item">
       <div>
        <h3>Skills and stats</h3>

        <p>The skills are grouped into the following classes; warrior, ranger, mage and thief. You become better at skills by practicing them.</p>

        <p>You may train any skills you like, and try to find the most efficient build. But, if you keep to <i>one</i> class, you will become specialized and get bonuses and
         drawbacks.</p>

        <div class="note">
         <p>In the alpha, you will gain skills super fast. Also, your health and mana will be at 100 by
          default.</p>
        </div>
        <p class="multi-buttons">
         <span class="btn page-btn" data-index="1">Play</span>
         <span class="btn btn-secondary scroll-btn link">Making we ride</span>
        </p>
       </div>
      </div>
     </div>
    </section>
    <section class="centered-heading">
     <div>
      <h2>Making We&nbsp;ride</h2>
     </div>
    </section>
    <section>
     <div class="flex-list s1">
      <div class="copy-item">
       <div>
        <img class="pull-right" src="/static/img/ue4.png" alt=""/>

        <h3>Unreal Engine&nbsp;4</h3>

        <p><span class="title">We Ride</span> is made with <a target="_blank"
                                                              href="https://www.unrealengine.com/what-is-unreal-engine-4">Unreal
          Engine</a> and its
         <a target="_blank" href="https://docs.unrealengine.com/latest/INT/Engine/Blueprints/">Blueprint Visual
          Scripting</a>.</p>

        <p>We use a <abbr title="Structured query language">SQL</abbr> database to store character and inventory
         data. To communicate between the game server and the database, We use the
         <a href="https://wiki.unrealengine.com/VaRest_Plugin" target="_blank">VaRest plugin</a> sending <abbr
           title="JavaScript Object Notation">JSON</abbr> data back and forth.</p>

        <p>Apart from the above, We've managed to build <span class="title">We Ride</span> entirely using Blueprint!</p>

        <div class="note">
         <h3>Special thanks <3</h3>

         <p>We'd like to thank <a href="https://forums.unrealengine.com/member.php?25447-CodeSpartan" target="_blank">CodeSpartan</a>
          for his amazing
          <a href="https://forums.unrealengine.com/showthread.php?53208-MMO-Starter-Kit" target="_blank"><abbr
             title="Massive multiplayer online">MMO</abbr>-kit</a> <i>and</i> for helping me whenever I got stuck!
         </p>

         <p>
          We <i>really</i> recommend buying the kit if you want to get
          started building a real
          <abbr title="Massive multiplayer online">MMO</abbr>!
         </p>
        </div>
       </div>
      </div>
      <div class="copy-item">
       <div>
        <img class="pull-right ben" src="/static/img/ben.png" title="SWAG"/>

        <h3>About Us</h3>

        <p>HOLME&GSTFSN is a two-man design team formed in Stockholm.</p>

        <p>As brothers, we’ve always built & designed things together and from these experiences we’ve formed a collaborative brain – letting us focus on what we believe is important: Creativity, quality & uniqueness.</p>

        <p>Benjamin Holme began working on the first version of We Ride in 2012. Back then it was a vision about re-creating the key components of what made the Ultima Online Zulu Hotel mod so enthralling and package that with new graphics, without the need for hundreds of hours of macroing.
        </p>
		
		<p>
		As a hobby project running parallell with a successful web design career he kept the phase slow but steady, focusing on setting up large systems that can be reused and repurposed.
		</p>
		
		<p>
		While being involved in discussions and the periphery of the game throughout the years it was not until 2018 that Viktor Gustafsson joined the project with a more active and hands on role by integrating We Ride with his master thesis.
		This thesis then led to a PhD position on the same topic, enabling We Ride to become part of a 3 year long research project.
		</p>
		
		<hr/>
		<h3>Research</h3>
		<p>
		We Ride is one of the first MMORPGs to be developed and funded as part of a research project.
		This gives us an unique opportunity to pursue finding innovative game features without feeling pressured by investors or fulfilling promises to crowdfunding backers.
		</p>
		
        <hr/>
        <h3>Contact Us</h3>

        <p>If have any questions about us or <span class="title">We Ride</span> or if you want to provide feedback,
         criticism or appreciation, We'd love to hear about it!</p>

        <p>Also, if you want to <i>help</i>, don't hesitate to to <b>send us an <a
            href="mailto:ben@holme.be">e-mail</a></b>.</p>

		
        <p></p>
       </div>
      </div>
     </div>
    </section>

   </div>
  </div>
  <div data-name="play" class="page dont-push">
   <div class="page-inner">
    <section class="para">
     <span class="img" style="background-image: url('/static/img/sunset.jpg');"></span>

     <h2>
      Let the <br/>
      journey<br/>
      begin
     </h2>
    </section>
    <section class="download hidden-sm">
     <p>
      <a href="http://dl.weridegame.com/WE_RIDE_Launcher3.zip" class="btn btn-primary">Download launcher<span>For PC</span></a>
     </p>
    </section>
    <section class="intro">
     <div class="flex-list s1">
      <div class="para go-last">
       <span class="img" style="background-image: url('/static/img/buy.jpg');"></span>
       <span class="caption">Buying and selling stuff in town</span>
      </div>
      <div class="copy-item">
       <div>
        <h2>Newbie guide</h2>

        <p>You'll start with pretty much nothing. It might be a good idea to try to locate the <b>Tutorial</b>. When you've made
         it through there, you should go to <b>Town</b> to get some bandages etc. </p>
        <div class="note">
         <p>Most <abbr title="non-player character">NPC</abbr>'s in town will respond to chat commands like
          '<b>buy</b>' and '<b>sell</b>'. Also, '<b>.guards</b>' might be a good one. <s>For more chat commands try
           '<b>.help</b>'!</s></p>
        </div>
        <p>When you've geared up a bit, go to <b>Newbie Dungeon</b> to kill some skeletons.</p>
        <p>
         <span class="btn scroll-btn">OK, got it!</span>
        </p>

       </div>
      </div>
     </div>
    </section>
    <section class="intro">
     <div class="flex-list s1">
      <div class="para">
       <span class="img" style="background-image: url('/static/img/crim.jpg');"></span>
       <span class="caption">Murderers, criminals and friendly characters</span>
      </div>
      <div class="copy-item">
       <div>
        <h3>Be good. Or don't get caught! </h3>

        <p>In some areas, like in Town, there's guards to protect you from criminals and murderers.</p>

        <p><b>If you offend</b> another friendly character, a blue, you will be flagged criminal, gray, and wont get protection
         from town guards.</p>

        <p><b>If you kill</b> too many blues, you will be flagged murderer, red. The guards may be called to kill reds, simply
         for being inside the guarded area. So if you can't be stay out of trouble, stay out of Town!</p>

        <p>
         <span class="btn scroll-btn">Player vs player</span>
        </p>

       </div>
      </div>
     </div>
    </section>
    <section class="intro">
     <div class="flex-list s1">
      <div class="para go-last">
       <span class="img" style="background-image: url('/static/img/slide2.jpg');"></span>
       <span class="caption">Player vs player</span>
      </div>
      <div class="copy-item">
       <div>
        <h3>Player vs player</h3>

        <p>Now to the fun stuff. Killing another player will give you one kill and some bounty on your head. How much
         bounty depends on how many kills your victim had.</p>

        <div class="note"><p>To collect bounty, cut off the head of the wanted, bring it to a bank, and say '<b>I
           claim my reward!</b>'.</p></div>
        <p>In <abbr title="player versus player">pvp</abbr>, speed is key, so make sure you've configured your hotkeys and equipped the best
         combination of armors and weapons you can muster!</p>
        <!--<p>You can see the top six fighters, and the reward for killing them, in the Score section!</p>-->
        <!--<p>-->
         <!--<span class="btn page-btn" data-index="3">Score</span>-->
        <!--</p>-->

       </div>
      </div>
     </div>
    </section>
   </div>
  </div>
  <div data-name="wiki" class="page dont-push">
   <div class="page-inner wiki">
    <div class="wiki-page" data-wiki-page="intro">

     <section class="para">
      <span class="img" style="background-image: url('/static/img/wiki.jpg'); transform: translate(0px, -5px);"></span>
       <div class="wiki-intro">
        <h2>Wiki & Lore</h2>
        <p>We Ride in a big evil world so don't expect to find too many helping hands. If you want to prevail, you must
         first conquer, and if you wanna have a fighting chance, you must first study!</p>
        <p>This is the place for knowledge.</p>
      </div>
     </section>

    </div>
    <div class="wiki-page" data-wiki-page="classes">
     <div class="flex-list s1">
      <div class="copy-item">
       <div>
        <h2>Classes</h2>
        <p>Certain skills have intimate bounds to one another. If you plan your skills well, some truly advantageous abilities might unveil.</p>
        <p>To specialize and improve in a class, you must keep to the skills within that class.</p>
        <table>
         <tr>
          <th>Level</th>
          <th>Skill points</th>
          <th>Purity</th>
         </tr>
         <tr>
          <td>1</td>
          <td>150</td>
          <td>50%</td>
         </tr>
         <tr>
          <td>2</td>
          <td>225</td>
          <td>75%</td>
         </tr>
         <tr>
          <td>3</td>
          <td>300</td>
          <td>90%</td>
         </tr>
         <tr>
          <td>4</td>
          <td>350</td>
          <td>95%</td>
         </tr>
        </table>
        <div class="note">
         Go see a Skill Master to drop skills you don't want.
        </div>
       </div>
      </div>
      <div class="para">
       <span class="img" style="background-image: url(&quot;/static/img/buy.jpg&quot;); transform: translate(0px, -30.85px);"></span>
       <span class="caption">Lorem ipsum</span>
      </div>
     </div>
    </div>
    <section class="wiki-page warrior" data-wiki-page="warrior">
     <div class="text-section">
      <h2 class="small">The Warrior</h2>
      <div class="two-col">
       <p>The strength of arms and legs, the speed and precision that only an upbringing in constant competition may produce -- that is the virtues of the warrior!</p>
       <p>You aren't afraid of scratches and bruises. What doesn't kill you makes you stronger. The mystery of the magical world however, you better stay clear of.</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Skills</h3>
         <h4>Defence</h4>
         <p>Higher skill absorbs greater physical damage.</p>
         <h4>Melee</h4>
         <p>Higher skill deals more melee damage.</p>
         <h4>Healing</h4>
         <p>Use bandages and apply on self or other character. Higher skill restores more health.</p>
        </div>
       </div>
       <div class="copy-item">
        <div>
         <h3>Class specification</h3>
         <ul class="pros">
          <li>Faster healing</li>
          <li>Deal more physical damage</li>
          <li>Absorb more physical damage</li>
         </ul>
         <ul class="cons">
          <li>Absorb less magical damage</li>
         </ul>
         <div class="note">
          <b>Bonus!</b> High level warriors may use bandages to resurrect dead players.
         </div>
        </div>
       </div>
      </div>
     </section>
    </section>
    <section class="wiki-page ranger" data-wiki-page="ranger">
     <div class="text-section">
      <h2 class="small">The Ranger</h2>
      <div class="two-col">
       <p>A lone wolf, a master of bow and arrow, and a true survivor -- the ranger is a way of life in harmony with the elements and the wild nature.</p>
       <p>Adventure and exploration is your calling. What ever lies in your path there's a way around it. But be careful, your bow isn't much help in close battle.</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Skills</h3>
         <h4>Archery</h4>
         <p>Higher skill deals more archery damage.</p>
         <h4>Taming</h4>
         <p>Us to tame wild animals and creatures to keep as companions. Higher skill unlocks greater tamable creatures.</p>
         <h4>Tracking</h4>
         <p>Use to find nearby characters. Higher skill tracks a greater area.</p>
         <h4>Camping (Using tracking skill)</h4>
         <p>Gather kindlings from trees and light a campfire to regenerate health.</p>
        </div>
       </div>
       <div class="copy-item">
        <div>
         <h3>Class specification</h3>
         <ul class="pros">
          <li>Deal more archery damage</li>
          <li>Heal more with campfires</li>
          <li>Keep hostile animals calm longer while taming</li>
         </ul>
         <ul class="cons">
          <li>Can't wear plate armor.</li>
         </ul>
        </div>
       </div>
      </div>
     </section>
    </section>
    <section class="wiki-page mage" data-wiki-page="mage">
     <div class="text-section">
      <h2 class="small">The Mage</h2>
      <div class="two-col">
       <p>As bad-ass sorcerer with all the magic tricks in the book, you're the most versatile build in the land.</p>
       <p>You keep your party boosted, healed and healthy, but there's a lot of damaging spells to crush your enemies with.</p>
       <p>However, if you find your self cornered out and you run out of that precious mana, things can get pretty nasty -- very fast.</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Skills</h3>
         <h4>Magery</h4>
         <p>Use to cast spells. Higher skill deals more magical damage, absorbs more magical damage and gives greater chance of casting difficult spells.</p>
         <h4>Alchemy</h4>
         <p>Use to make potions. Higher skill unlocks recipes for more potent potions.</p>
         <h4>Meditation</h4>
         <p>Use to restore mana. Higher skill gives greater chance of entering a meditative trance.</p>
        </div>
       </div>
       <div class="copy-item">
        <div>
         <h3>Class specification</h3>
         <ul class="pros">
          <li>Faster meditation</li>
          <li>Deal more magical damage</li>
          <li>Absorb more magical damage</li>
         </ul>
         <ul class="cons">
          <li>Absorb less physical damage.</li>
          <li>Can't wear plate armor.</li>
         </ul>
        </div>
       </div>
      </div>
     </section>
    </section>
    <section class="wiki-page" data-wiki-page="crafter">
     <div class="text-section">
      <h2 class="small">The Crafter</h2>
      <div class="two-col">
       <p>Crafters play a key role in We Ride. They craft all the sweet equipment for the fighting classes.</p>
       <p>Repairs, fixes, and new and better gear is always on high demand, so crafters usually make many good friends.</p>
       <p>A smart crafter makes sure to make som powerful allies and wealthy trading partners. The most epic craftable equipment require rare magical artifacts to reach the skills needed.</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Skills</h3>
         <h4>Blacksmithing (& Mining)</h4>
         <p>Use a pickaxe to mines ores. Use forge to melt ore to get ingots. Use a smith's hammer to craft equipment. Higher skill unlocks more craftables.</p>
         <h4>Lumberjacking (& Carpentry)</h4>
         <p>Use an axe on trees to get logs. Use carpeter's toolbox to craft wooden stuff. Higher skill unlocks more craftables.</p>
         <h4>Arms Lore</h4>
         <p>Use to get details about weapons and armor.</p>
        </div>
       </div>
       <div class="copy-item">
        <div>
         <h3>Class specification</h3>
         <ul class="pros">
          <li>Craft equipment of exceptional quality, boosting damage/armor</li>
          <li>Faster mining</li>
          <li>Faster lumberjacking</li>
         </ul>
        </div>
       </div>
      </div>
     </section>
    </section>
    <div class="wiki-page" data-wiki-page="items">
     <div class="flex-list s1">
      <div class="copy-item">
       <div>
        <h2>Items</h2>
        <p>Magic equipment</p>
        <p>Crafted equipment</p>
       </div>
      </div>
      <div class="para">
       <span class="img" style="background-image: url(&quot;/static/img/buy.jpg&quot;); transform: translate(0px, -30.85px);"></span>
       <span class="caption">Lorem ipsum</span>
      </div>
     </div>
    </div>

    <section class="wiki-page" data-wiki-page="craftedeq">
     <div class="text-section">
      <h2 class="small">Crafted equipment</h2>
      <div class="two-col">
       <p>Crafters play a key role in We Ride. They craft all the sweet equipment for the fighting classes. Depending on the crafter's skill and the resources used to craft something, a wide range of special properties and qualities may apply to that item.</p>
       <p>Most of these resources can be extracted in mines, refined from animal hides or from wooden materials.</p>
       <p>Some must be found elsewhere...</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Known resources</h3>
         <h4>Mining</h4>
         <p>Use a pickaxe on mines.</p>
         <table>
          <tr>
           <th>Material</th>
           <th>Quality</th>
           <th>Special</th>
          </tr>
          <tr>
           <td>dull copper</td>
           <td>0.5</td>
           <td></td>
          </tr>
          <tr>
           <td>bronze</td>
           <td>0.6
           </td>
           <td></td>
          </tr>
          <tr>
           <td>spike</td>
           <td>0.7</td>
           <td></td>
          </tr>
          <tr>
           <td>copper</td>
           <td>0.9</td>
           <td></td>
          </tr>
          <tr>
           <td>ice rock</td>
           <td>0.8</td>
           <td>water 25%</td>
          </tr>
          <tr>
           <td>normal</td>
           <td>1.0</td>
           <td></td>
          </tr>
          <tr>
           <td>onyx</td>
           <td>1.1</td>
           <td>earth 25%</td>
          </tr>
          <tr>
           <td>godess</td>
           <td>0.9</td>
           <td>air 25%</td>
          </tr>
          <tr>
           <td>lava rock</td>
           <td>1.0</td>
           <td>fire 50%</td>
          </tr>
          <tr>
           <td>spider stone</td>
           <td>1.25</td>
           <td>poison 2</td>
          </tr>
          <tr>
           <td>angel</td>
           <td>1.3</td>
           <td>air 50%</td>
          </tr>
          <tr>
           <td>python crystal</td>
           <td>1.8</td>
           <td>poison 10, earth 50%</td>
          </tr>
         </table>
         <h4>Lumberjacking</h4>
         <p>Use an axe on trees.</p>
         <table>
          <tr>
          <th>Material</th>
          <th>Quality</th>
          <th>Special</th>
          </tr>
          <tr>
           <td>drywood</td>
           <td>0.5</td>
           <td></td>
          </tr>
          <tr>
           <td>pinetree</td>
           <td>0.6</td>
           <td></td>
          </tr>
          <tr>
           <td>tannwood</td>
           <td>0.7</td>
           <td></td>
          </tr>
          <tr>
           <td>oak</td>
           <td>0.8</td>
           <td></td>
          </tr>
          <tr>
           <td>rock leaf</td>
           <td>0.8</td>
           <td>earth 25%</td>
          </tr>
          <tr>
           <td>stormwood</td>
           <td>1.1</td>
           <td>air 25%</td>
          </tr>
          <tr>
           <td>frost leaf</td>
           <td>0.9</td>
           <td>water 25%</td>
          </tr>
          <tr>
           <td>charred</td>
           <td>1.0</td>
           <td>fire 50%</td>
          </tr>
          <tr>
           <td>angelic</td>
           <td>1.15</td>
           <td>air 50%</td>
          </tr>
          <tr>
           <td>spider tree</td>
           <td>1.1</td>
           <td>poison 3</td>
          </tr>
          <tr>
           <td>jade</td>
           <td>1.8</td>
           <td>poison 6, earth 50%</td>
          </tr>
         </table>
         <h4>Hides</h4>
         <p>TBD</p>
        </div>
       </div>
       <div class="copy-item">
        <div>
         <h3>Equipment</h3>
         <p>Crafting an item using a specific resource affects the item's damage/armor mod. If the material of the resource has special properties, theses apply too.</p>
         <div class="note">
          High level crafters may produce exceptional equipment, resulting in additional damage/armor boost.
         </div>
        </div>
       </div>
      </div>
     </section>
    </section>
    <section class="wiki-page" data-wiki-page="magiceq">
     <div class="text-section">
      <h2 class="small">Magic equipment</h2>
      <div class="two-col">
       <p>Magic items can be looted from monsters and treasure chests, and they come in many forms.</p>
      </div>
     </div>
     <section>
      <div class="flex-list s1">
       <div class="copy-item">
        <div>
         <h3>Mods</h3>
         <h4>Damage</h4>
         <table>
          <tr>
           <th>Suffix</th>
           <th>mod</th>
          </tr>
          <tr>
           <td>ruin</td>
           <td>+1</td>
          </tr>
          <tr>
           <td>might</td>
           <td>+2</td>
          </tr>
          <tr>
           <td>force</td>
           <td>+3</td>
          </tr>
          <tr>
           <td>power</td>
           <td>+4</td>
          </tr>
          <tr>
           <td>vanquishing</td>
           <td>+5</td>
          </tr>
          <tr>
           <td>devastation</td>
           <td>+6</td>
          </tr>
         </table>
         <h4>Armor</h4>
         <table>
          <tr>
           <th>Suffix</th>
           <th>mod</th>
          </tr>
          <tr>
           <td>defence</td>
           <td>+1</td>
          </tr>
          <tr>
           <td>guarding</td>
           <td>+2</td>
          </tr>
          <tr>
           <td>hardening</td>
           <td>+3</td>
          </tr>
          <tr>
           <td>fortification</td>
           <td>+4</td>
          </tr>
          <tr>
           <td>invulnerability</td>
           <td>+5</td>
          </tr>
          <tr>
           <td>invincibility</td>
           <td>+6</td>
          </tr>
         </table>

         <h4>Skill mod</h4>
         <table>
          <tr>
           <th>prefix</th>
           <th>mod</th>
          </tr>
          <tr>
           <td>apprentice</td>
           <td>+3</td>
          </tr>
          <tr>
           <td>journeyman</td>
           <td>+4</td>
          </tr>
          <tr>
           <td>expert</td>
           <td>+5</td>
          </tr>
          <tr>
           <td>adept</td>
           <td>+6</td>
          </tr>
          <tr>
           <td>master</td>
           <td>+7</td>
          </tr>
          <tr>
           <td>grandmaster</td>
           <td>+8</td>
          </tr>
          <tr>
           <td>elder</td>
           <td>+9</td>
          </tr>
          <tr>
           <td>legendary</td>
           <td>+10</td>
          </tr>
         </table>

         <h4>Poison protection</h4>
         <table>
          <tr>
           <th>suffix</th>
           <th>protection</th>
          </tr>
          <tr>
           <td>lesser</td>
           <td>1</td>
          </tr>
          <tr>
           <td>medium</td>
           <td>2</td>
          </tr>
          <tr>
           <td>greater</td>
           <td>3</td>
          </tr>
          <tr>
           <td>deadly</td>
           <td>4</td>
          </tr>
          <tr>
           <td>Snake handler's</td>
           <td>5</td>
          </tr>
         </table>


        </div>
       </div>
       <div class="copy-item">
        <div>

         <h4>Elemental protection</h4>
         <table>
          <tr>
           <th>suffix</th>
           <th>protection</th>
          </tr>
          <tr>
           <td>bane</td>
           <td>10%</td>
          </tr>
          <tr>
           <td>warding</td>
           <td>30%</td>
          </tr>
          <tr>
           <td>protection</td>
           <td>50%</td>
          </tr>
          <tr>
           <td>immunity</td>
           <td>75%</td>
          </tr>
          <tr>
           <td>attunement</td>
           <td>100%</td>
          </tr>
          <tr>
           <td>absorption</td>
           <td>110%</td>
          </tr>
         </table>
         <div class="note">Magical protection against spells of fire, water, earth and air.</div>

         <h4>Health boost</h4>
         <table>
          <tr>
           <th>prefix</th>
           <th>mod</th>
          </tr>
          <tr>
           <td>Warrior's</td>
           <td>+5</td>
          </tr>
          <tr>
           <td>Veteran's</td>
           <td>+10</td>
          </tr>
          <tr>
           <td>Champion's</td>
           <td>+15</td>
          </tr>
          <tr>
           <td>Hero's</td>
           <td>+20</td>
          </tr>
          <tr>
           <td>Warlord's</td>
           <td>+25</td>
          </tr>
          <tr>
           <td>King's</td>
           <td>+30</td>
          </tr>
         </table>

         <h4>Mana boost</h4>
         <table>
          <tr>
           <th>prefix</th>
           <th>mod</th>
          </tr>
          <tr>
           <td>Apprentice's</td>
           <td>+5</td>
          </tr>
          <tr>
           <td>Adept's</td>
           <td>+10</td>
          </tr>
          <tr>
           <td>Wizard's</td>
           <td>+15</td>
          </tr>
          <tr>
           <td>Archmage's</td>
           <td>+20</td>
          </tr>
          <tr>
           <td>Magister's</td>
           <td>+25</td>
          </tr>
          <tr>
           <td>Oracle's</td>
           <td>+30</td>
          </tr>
         </table>

         <h4>Free action</h4>
         <p>Property found on jewelry that gives permanent protection against paralyze spells.</p>
        </div>
       </div>
      </div>
     </section>
    </section>
   </div>
  </div>
  <!--<div data-name="score" class="page dont-push">-->
   <!--<div class="page-inner">-->
    <!--<section class="para" style="background-image: url('/static/img/slide2.jpg');">-->
     <!--<h2>-->
      <!--Ready for some <br/>-->
      <!--<span class="blood">hardcore</span> <br/>-->
      <!--pvpmmorpg!?-->
     <!--</h2>-->
    <!--</section>-->
    <!--<section class="centered-heading">-->
     <!--<div>-->
      <!--<h2>The score</h2>-->
     <!--</div>-->
    <!--</section>-->
    <!--<div class="scoreboard js-get-chars">-->
    <!--</div>-->
   <!--</div>-->
  <!--</div>-->

  <div data-name="blog" class="page pont-push">
   <div class="page-inner">
    <section class="para" style="background-image: url('/static/img/riding.jpg');">
     <h2>We Ride <br>Dev Blog</h2>
    </section>
    <div class="blog js-get-blog"></div>
   </div>
  </div>

 </div>
 <div class="nav-pane">
   <ul>
    <li><span data-wiki="intro">Introduction</span></li>
    <li>
     <span data-wiki="classes">Classes</span>
     <ul>
      <li><span data-wiki="warrior">Warrior</span></li>
      <li><span data-wiki="ranger">Ranger</span></li>
      <li><span data-wiki="mage">Mage</span></li>
      <li><span data-wiki="crafter">Crafter</span></li>
     </ul>
    </li>
    <li>
     <span>Skills</span>
     <ul>
      <li><span>Defence</span></li>
      <li><span>Melee</span></li>
      <li><span>Healing</span></li>
      <li><span>Taming</span></li>
      <li><span>Archery</span></li>
      <li><span>Tracking</span></li>
      <li><span>Alchemy</span></li>
      <li><span>Magery</span></li>
      <li><span>Meditation</span></li>
     </ul>
    </li>
    <li>
     <span data-wiki="items">Items</span>
     <ul>
      <li><span data-wiki="craftedeq">Crafted equipment</span></li>
      <li><span data-wiki="magiceq">Magic equipment</span></li>
     </ul>
    </li>
    <li><span>Magic</span></li>
   </ul>
  </div>
</div>
