<% layout('framework/layout') %>

<section class="centered-heading" style="margin-top: 100px;">
 <div>
  <h2>The stats</h2>
 </div>
</section>
<section class="stats">
 <h3>Sessions</h3>
 <div class="sessions"></div>
</section>
