<header class="js-header">
 <div class="logo-container">
  <div class="title">We Ride
   <span>alpha</span></div>
 </div>
 <div class="server-stats"></div>
</header>

<div class="support">
 <input id="support" type="checkbox">
 <label for="support" class="btn support-toggle">Community</label>
 <div class="popup">
  <label for="support" class="overlay"></label>
  <div class="body">
   <h2>Contact</h2>
   <p>Have suggestions or questions? Need a party? Join the community!</p>
   <p>
    <a class="btn" target="_blank" href="https://discord.gg/AQEVqxv">Discord Channel</a>
    <a class="btn" target="_blank" href="http://reddit.com/r/weridegame">Reddit</a>
    <a class="btn" target="_blank" href="https://www.facebook.com/Weride-414700532216163">Facebook Page</a>
   </p>
  </div>
 </div>
</div>